@tailwind base;
@tailwind components;
@tailwind utilities;

/* הסתרת סרגל גלילה אופקי לטובת מראה אפליקטיבי נקי */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
